{% extends "base.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <header>
                <h2>News</h2>
            </header>
        </div>
        <div>
        {% for article in articles %}
            <div class="box newslistnode">
                <div class="leftpart">
                    <p class="newstext"><time datetime="{{ article.date.isoformat() }}">
                        {{ article.date.strftime('%d.%m.%Y') }}
                    </time></p>
                </div>
                <div class="rightpart">
                    <p class="newstext"><a href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title }}
                    </a></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
